name: Build Docker Image

on:
  workflow_run:
    workflows: ["Code Quality Checks"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/django-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/django-app:latest

#      - name: Build and push Docker image
#        uses: docker/build-push-action@v4
#        with:
#          # 2. 중요: EC2(amd64)에서 돌아가도록 플랫폼을 명시적으로 지정합니다.
#          context:
#            .
#          platforms: linux/amd64
#          # 3. 이미지 이름: 하나로 3개의 서비스(web, worker, beat)를 모두 업데이트합니다.
#          push:
#            true
#          tags: |${{ secrets.DOCKER_USERNAME }}/seeed-money-web:latest${{ secrets.DOCKER_USERNAME }}/seeed-money-worker:latest${{ secrets.DOCKER_USERNAME }}/seeed-money-beat:latest