name: Deploy to EC2

on:
  workflow_run:
    workflows: ["Build Docker Image"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            # 1. 프로젝트 폴더로 이동
            cd /home/ubuntu/seeed-money
            
            # 2. Docker Hub에서 최신 이미지들 가져오기
            docker compose -f docker-compose.dev.yml pull
            
            # 3. 컨테이너 재시작 (변경 사항 적용)
            docker compose -f docker-compose.dev.yml up -d --remove-orphans
            
            # 4. 안 쓰는 옛날 이미지 삭제
            docker image prune -f